.watch-movie {
  padding: 21px 0 65px;
  background: #fff;
  text-align: center;
}
.watch-movie__inner {
  position: relative;
  max-width: 1070px;
  margin: 0 auto;
  padding: 0 15px;

  &:after {
    position: absolute;
    top: -152px;
    left: 30px;
    width: 53%;
    height: 307px;
    background: url("../img/notebook.png") no-repeat;
    background-size: contain;
    content: '';
  }

}
.watch-movie__text {
  width: 419px;
  margin: 0 0 0 auto;

  padding-right: 89px;
  min-height: 151px;
}

.site_2 {

  .watch-movie {
    padding: 21px 0 18px;
  }
  .watch-movie__inner{

    &:after {
      position: absolute;
      top: -170px;
      left: 19px;
      width: 48%;
      height: 307px;
      background: url("../img/notebook.png") no-repeat;
      background-size: contain;
      content: '';
    }

  }
  .watch-movie__text {
    padding: 10px 11px 0 0;
    width: 470px;
    font-size: 18px;
    line-height: 24px;
  }

}



